<mat-sidenav-container class="example-container" *ngIf="isLoad">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <h3 mat-subheader>Мои города</h3>
      <div *ngIf="myCitiesArray.length !== undefined">
        <mat-list-item *ngFor="let city of myCitiesArray">
          <button mat-button style="margin-left: 1em;" (click)="loadLocationForecast(city.Key)">{{city.EnglishName}}</button>
        </mat-list-item>
      </div>
      <div *ngIf="myCitiesArray.length === undefined">
        <mat-list-item>
          <button mat-button style="margin-left: 1em;" (click)="loadLocationForecast(city.Key)">{{city.EnglishName}}</button>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content style="display: flex" *ngIf="isWeatherDownload">
    <div class="cardDiv">
      <mat-card style="margin-left: 1em;" class="card" *ngFor="let day of forecastArr">
        <mat-card-header>
          {{day.Date  | date: 'dd.MM.yyyy HH.mm': 'Europe/Kiev'}}
        </mat-card-header>
        <span class="firstSpan">День: </span><br>
        <img mat-card-image *ngIf="day.Day.Icon.toString().length !== 1" style="width: 75px; height: 45px;" src="https://developer.accuweather.com/sites/default/files/{{day.Day.Icon}}-s.png">
        <img mat-card-image *ngIf="day.Day.Icon.toString().length === 1" style="width: 75px; height: 45px;" src="https://developer.accuweather.com/sites/default/files/0{{day.Day.Icon}}-s.png">
        <span class="firstSpan">Погода: </span><span>{{day.Day.IconPhrase}}</span><br>
        <span class="firstSpan">Ночь: </span><br>
        <img mat-card-image *ngIf="day.Night.Icon.toString().length !== 1" style="width: 75px; height: 45px;" src="https://developer.accuweather.com/sites/default/files/{{day.Night.Icon}}-s.png">
        <img mat-card-image *ngIf="day.Night.Icon.toString().length === 1" style="width: 75px; height: 45px;" src="https://developer.accuweather.com/sites/default/files/0{{day.Night.Icon}}-s.png">
        <span class="firstSpan">Погода: </span><span>{{day.Night.IconPhrase}}</span><br>
        <mat-card-content>
          <span class="firstSpan">Температура: </span><br>
          <span class="firstSpan">min: </span><span>{{day.Temperature.Minimum.Value}}</span><br>
          <span class="firstSpan">max: </span><span>{{day.Temperature.Maximum.Value}}</span><br>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
