<mat-sidenav-container class="rootMyCities" *ngIf="isLoad">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <div [ngSwitch]="language">
        <h3 *ngSwitchCase="'ru'" mat-subheader style="justify-content: center;">Мои города</h3>
        <h3 *ngSwitchCase="'en'" mat-subheader style="justify-content: center;">My cities</h3>
      </div>
      <div>
        <mat-list-item *ngFor="let cit of myCitiesArray" class="displayFlex">
          <span style="width: 10em;">
            <button mat-button style="margin-left: 1em;" (click)="navigateToWeatherPage(cit)">{{cit.LocalizedName}}</button>
          </span>
          <span>
            <button mat-button *ngIf="myCitiesArray.length !== 1"
                    (click)="deleteCity(cit)"><mat-icon>clear</mat-icon></button>
          </span>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="displayFlex">
    <div class="mainDiv">
      <form>
        <mat-form-field [ngSwitch]="language" appearance="outline" style="width: 20em;">
          <mat-label *ngSwitchCase="'ru'">Впишите название города</mat-label>
          <mat-label *ngSwitchCase="'en'">Enter your city</mat-label>
          <input matInput #input>
        </mat-form-field>
        <div [ngSwitch]="language" >
          <button *ngSwitchCase="'ru'" mat-stroked-button (click)="searchLocation(input.value)">Искать город</button>
          <button *ngSwitchCase="'en'" mat-stroked-button (click)="searchLocation(input.value)">Search</button>
        </div>
        <br>
      </form><br>
      <table mat-table [dataSource]="dataSource" class="table" style="width: 50em;" *ngIf="isSearchCompleted">
        <ng-container matColumnDef="LocalizedName">
          <th mat-header-cell [ngSwitch]="language" *matHeaderCellDef>
            <span *ngSwitchCase="'ru'">Город</span>
            <span *ngSwitchCase="'en'">City</span></th>
          <td mat-cell *matCellDef="let element"> {{element.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="language">
            <span *ngSwitchCase="'ru'">Страна</span>
            <span *ngSwitchCase="'en'">Country</span></th>
          <td mat-cell *matCellDef="let element"> {{element.Country.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="AdministrativeArea">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="language">
            <span *ngSwitchCase="'ru'">Область</span>
            <span *ngSwitchCase="'en'">Administrative area</span></th>
          <td mat-cell *matCellDef="let element"> {{element.AdministrativeArea.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="language">
            <span *ngSwitchCase="'ru'">Добавить город</span>
            <span *ngSwitchCase="'en'">Add city</span></th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="addCity(element)">
            <mat-icon>add</mat-icon></button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!isLoad">
  <mat-progress-spinner class="spinner" color="primary" mode="indeterminate">
  </mat-progress-spinner>
  <mat-error *ngIf="isErrorVisible" class="error">
    <div [ngSwitch]="language">
      <span *ngSwitchCase="'ru'">Возникла ошибка! Перезагрузите страницу позже или обратитесь к системному администратору.</span>
      <span *ngSwitchCase="'en'">An error has occurred! Please reload the page later or contact your system administrator.</span>
    </div>
  </mat-error>
</div>
