.rootMyCities {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.sidenav {
  width: 16em;
  justify-content: center;
  overflow-y: auto;
}
.mainDiv {
  margin-left: 1em;
  margin-top: 1em;
}
.displayFlex {
  display: flex;
}
/*table*/
tr:nth-child(2n) {
  background-color: #f8f9fa;
}
th.mat-header-cell, td.mat-cell {
  text-align:  left!important;
}
th {
  align-items: flex-end;
  text-align: center;
  background-color: #e9ecef;
  font-weight: bold;
  font-size: 13px;
}
tr:hover {
  background-color: #E1E2E3;
}
td > span {
  display: block;
  padding-bottom: 3px;
}
td > span:first-child {
  padding-top: 3px;
}
td > span:last-child {
  padding-bottom: 0;
}
.table {
  width: 100%;
}
.spinner {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.error {
  position: absolute;
  top: 65%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
