<mat-sidenav-container class="rootMyCities" *ngIf="isLoad">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-list>
      <h3 mat-subheader style="justify-content: center;">My cities</h3>
      <div *ngIf="myCitiesArray.length !== undefined">
        <mat-list-item *ngFor="let city of myCitiesArray" class="displayFlex">
          <span style="width: 10em;">
            <button mat-button style="margin-left: 1em;" (click)="navigateToWeatherPage(city)">{{city.EnglishName}}</button>
          </span>
          <span>
            <button mat-button *ngIf="myCitiesArray.length !== 1"
                    (click)="deleteCity(city)"><mat-icon>clear</mat-icon></button>
          </span>
        </mat-list-item>
      </div>
      <div *ngIf="myCitiesArray.length === undefined">
        <mat-list-item class="displayFlex">
          <button mat-button style="margin-left: 1em;" (click)="navigateToWeatherPage(city)">{{city.EnglishName}}</button>
        </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="displayFlex">
    <div class="mainDiv">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Enter your city</mat-label>
          <input matInput #input (keyup)="searchLocation(input.value)">
        </mat-form-field>
        <br>
      </form><br>
      <table mat-table [dataSource]="dataSource" class="table" style="width: 50em;" *ngIf="isSearchCompleted">
        <ng-container matColumnDef="LocalizedName">
          <th mat-header-cell *matHeaderCellDef>LocalizedName</th>
          <td mat-cell *matCellDef="let element"> {{element.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="Country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element"> {{element.Country.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="AdministrativeArea">
          <th mat-header-cell *matHeaderCellDef>AdministrativeArea</th>
          <td mat-cell *matCellDef="let element"> {{element.AdministrativeArea.LocalizedName}} </td>
        </ng-container>

        <ng-container matColumnDef="button">
          <th mat-header-cell *matHeaderCellDef>Add</th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="addCity(element)">
            <mat-icon>add</mat-icon></button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
